$table-cell-padding-y-lg:     .75rem !default;
$table-cell-padding-x-lg:     .75rem !default;

$table-cell-padding-y-xl:     1rem !default;
$table-cell-padding-x-xl:     1rem !default;
table {
    &.table {
        &.table-flush {
            thead, tbody {
                tr {
                    th, td {
                        &:first-child{
                            padding-left: 0;   
                        }
                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
        &.table-space-between {
            tbody {
                tr {
                    td{
                        &:last-child {
                            text-align: right;
                        }
                    }
                }
            }
        }
        &.stepped {
            tbody {
                tr {
                    &.subitem {
                        td {
                            &:first-child {
                                padding-left: 20px;
                            }
                        }
                    }
                }
            }
        }
        &.table-border-bottom-0 {
            tbody {
                tr {
                    &:last-child {
                        td {
                            border-bottom: 0;
                            
                        }
                    }
                }
            }
        }
        &.table-lg {
            > :not(caption) > * > * {
                padding: $table-cell-padding-y-lg $table-cell-padding-x-lg;
            }
        }
        &.table-xl {
            > :not(caption) > * > * {
                padding: $table-cell-padding-y-xl $table-cell-padding-x-xl;
            }
        }
        thead {
            tr {
                th {
                    font-weight: 400;
                    padding-bottom: 15px;
                }
            }
            &.bordered {
                tr:first-child {
                    th:first-child, th:nth-child(2) {
                        position: relative;
                        &:after {
                            content: "";
                            position: absolute;
                            right: 0;
                            top: 0;
                            height: 170%;
                            width: 1.5px;
                            background-color: transparentize($color: #000000, $amount: .9);;
                        }
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    vertical-align: middle;
                }
            }
        }
    }
    &.table-hover {
        tbody {
            tr {
                cursor: pointer;
                border-radius: 8px;
                transition: all 300ms ease-in-out;
                &:hover {
                    --bs-table-accent-bg: $light;
                    color: var(--bs-table-hover-color);
                    box-shadow: 0px 0px 15px 2px transparentize($color: #000000, $amount: .9);
                }
                td {
                    vertical-align: middle;
                }
            }
        }
    }
}