@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";
@import "tables";

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}
.square {
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.opacity-50 {
    opacity: .5;
    transition: opacity 300ms ease-in-out;
    &:hover {
        opacity: 1;
    }
}
.border-radius {
    border-radius: 8px;
}
.rounded-2 {
    border-radius: 8px;
}
.navbar-nav {
    .nav-item {
        margin-right: 36px;
        &:last-child {
            @extend .me-0;
        }
    }
}
img {
    &.border-1{
        border: 1px solid;
    }
}
.background-image {
    background-repeat: no-repeat;
    background-size: cover;
}
div.img-thumbnail {
    max-width: 128px;
    max-height: 128px;
    height: 128px;
    width: 128px;
    border-radius: 0;
}
a.card {
    text-decoration: none;
    color: inherit;
    .card-body {
        @extend .px-0;
        .card-title{
            @extend .fs-3;
            font-weight: $font-weight-light;
        }
    }
}

.badge {
    min-width: 80px;
    &.bg-primary {
        background-color:transparentize($color: $primary, $amount: .85) !important;
        @extend .text-primary;
    }
    &.bg-success {
        background-color:transparentize($color: $success, $amount: .85) !important;
        @extend .text-success;
    }
    &.bg-danger {
        background-color:transparentize($color: $danger, $amount: .85) !important;
        @extend .text-danger;
    }
    &.bg-warning {
        background-color:transparentize($color: $warning, $amount: .85) !important;
        @extend .text-warning;
    }
}
nav {
    .tabs, &.tabs {
        .nav-link {
            font-weight: $font-weight-light;
            color: $secondary;
            transition: color 300ms ease-in-out;
            &:first-child {
                @extend .ps-0;
            }
            &.active {
                @extend .text-dark;
            }
            &:hover {
                @extend .text-dark;
            }
        }
    }
}
div.tab-pane {
    a {
        &.dropdown-toggle {
            color: $navbar-light-hover-color
        }
    }
}

.dropdown-toggle::after {
    vertical-align: 0.156em;
    margin-left: 0.3em;
}
.text-muted {
    color: $secondary !important;
}
.input-group{
    &.input-group-dark {
        .form-control {
            border:0;
            &.input-light, &.input-dark {
                border: transparent;
                border-radius: 8px 0 0 8px;
            }
        }
        .btn {
            background-color: transparentize($color: $secondary, $amount: 0.7);
            border: 0;
            &:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
                margin-left: 0;
            }
        }
    }
}
.form-control {
    &.input-light {
        background-color: transparentize($color: $light, $amount: 0.7);
        border: transparentize($color: $light, $amount: 0.7);
        color: $light;
        &::placeholder {
            color: $light;
        }
    }
    &.input-dark {
        background-color: transparentize($color: $secondary, $amount: 0.7);
        border: transparentize($color: $secondary, $amount: 0.7);
        color: $dark;
        &::placeholder {
            color: $dark;
        }
    }
}
.btn {
    &.btn-alt {
        border-radius: 8px;
    }
    &.fab {
        height: 42px !important;
        width: 42px !important;
        line-height: 26px;
        border-width: 1.5px;
    }
}
.canvas-image {
    width: 67px;
    height: 32px;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.dropdown {
    .dropdown-menu {
        @extend .border-0;
        border-radius: 8px;
        li {
            @extend .py-3;
            @extend .text-secondary;
            border-bottom: 1px solid transparentize($color: $dark, $amount: 0.9);
            &:last-child {
                border-bottom: none;
            }
            &.active {
                @extend .text-dark;
                background: transparent;
            }
            &:hover {
                background: transparentize($color: $secondary, $amount: 0.9);
            }
        }
    }
}
.filter-nav {
    .nav-item {
        @extend .mx-2;
        &:first-child {
            @extend .ms-0;
        }
        .nav-link {
            @extend .fs-5;
            @extend .text-dark;
            &:first-child {
                @extend .ps-0;
            }
            &:hover {
                @extend .text-primary;
            }
            &.active {
                @extend .text-primary;
            }
        }
    }
}
.advertisement {
    background-color: transparentize($color: $secondary, $amount: 0.7);
}
.navbar-toggler {
    background-color: transparentize($color: $dark, $amount: 0.9);
    @extend .border-0;
    width: 46px;
    height: 46px;
    @extend .p-2;
    @extend .rounded-2;
}
@mixin switch($res: 'sm') {
    $index: 1rem;
    $mainVal: 1rem;
  
    @if $res == 'md' {
        $index: 2rem;
        $mainVal: 1.5rem;
    } @else if $res == 'lg' {
        $index: 3rem;
        $mainVal: 2rem;
    } @else if $res == 'xl' {
        $index: 4rem;
        $mainVal: 2.5rem;
    }

    margin-bottom: $index / 2; /* JUST FOR STYLING PURPOSE */

    .form-check-input {
        height: $mainVal;
        width: calc(#{$index} + 0.75rem);
        border-radius: $mainVal * 2;
    }
}

.form-check-input {
  clear: left;
}

// YOU CAN PUT ALL RESOLUTION HERE
// sm - DEFAULT, md, lg, xl

.form-switch.form-switch-sm {
    @include switch();
}

.form-switch.form-switch-md {
    @include switch('md');
}

.form-switch.form-switch-lg {
    @include switch('lg');
}

.form-switch.form-switch-xl {
    @include switch('xl');
}
.form-check-input {
    background-color: transparentize($color: $secondary, $amount: 0.6);
    border: transparent;
    &:checked {
        background-color: transparentize($color: $primary, $amount: 0.9);
        border: transparent;
    }
}
.cursor-pointer {
    cursor: pointer;
}

.pagination {
    .page-link {
        @extend .text-dark;
        @extend .rounded-circle;
        @extend .square;
        @extend .text-center;
        @extend .p-0;

        &.active {
            @extend .text-primary;
            background-color: transparentize($color: $primary, $amount: 0.9);
        }
    }
}