@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
}
.opacity-50 {
    opacity: .5;
    transition: opacity 300ms ease-in-out;
    &:hover {
        opacity: 1;
    }
}
.border-radius {
    border-radius: 8px;
}
.navbar-nav {
    .nav-item {
        margin-right: 36px;
        &:last-child {
            margin-right: 0px;
        }
    }
}
.background-image {
    background-repeat: no-repeat;
    background-size: cover;
}
div.img-thumbnail {
    max-width: 128px;
    max-height: 128px;
    height: 128px;
    width: 128px;
    border-radius: 0;
}
a.card {
    text-decoration: none;
    color: inherit;
    .card-body {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
.table-hover {
    tbody {
        tr {
            border-radius: 8px;
            transition: all 300ms ease-in-out;
            td {
                vertical-align: middle;
            }
        }
    }
}

.badge {
    &.bg-success {
        
    }
    &.bg-danger {
        
    }
    &.bg-warning {
        
    }
}
nav {
    &.tabs {
        .nav-link {
            color: #aaa;
            transition: color 300ms ease-in-out;
            &.active {
                color: #2e2e2e !important;
            }
            &:hover {
                color: #2e2e2e;
            }
        }
    }
}
div.tab-pane {
    a {
        &.dropdown-toggle {
            color: $navbar-light-hover-color
        }
    }
}

.dropdown-toggle::after {
    vertical-align: 0.156em;
    margin-left: 0.3em;
}